################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/NLedger.Launchpad/bin/
/src/NLedger.Launchpad/obj/
/src/NLedger.Launchpad.Tests/bin/
/src/NLedger.Launchpad.Tests/obj/
