<DialogBase Title="About .Net Ledger Launchpad" IsLarge="true" Kind="Services.DialogKind.Info" >
    <p>
        <a href="https://github.com/dmitry-merzlyakov/nledger">.Net Ledger</a> is a .Net port of <a href="http://ledger-cli.org/">Ledger</a>, powerful command line accounting system.
    </p>
    <p>
        Launchpad is a web application that runs .Net Ledger just in your browser by means of <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>/WebAssembly technology.
        It supports all Ledger capabilities, so you can use any Ledger data files and commands.
    </p>
    <p>
        Read <a href="https://www.ledger-cli.org/docs.html">Ledger documentation</a> if you want to know more about <a href="http://plaintextaccounting.org/">plain text accounting</a>.
        Practically, you can try <a href="https://www.ledger-cli.org/3.0/doc/ledger3.html">Ledger 3 Manual</a> examples or get ours available by <mark>Examples</mark> button.
    </p>
    <h6>Disclaimer:</h6>
    <ul>
        <li>.Net Ledger Launchpad does not use cookies and never saves user data on the server. </li>
        <li>Workspace data is kept in the local browser storage. Use <mark>Workspace - Manage - Reset</mark> command to clean up your environment.</li>
        <li>By using the software, you accept the terms of <a href="https://github.com/dmitry-merzlyakov/nledger/blob/master/LICENSE">.Net Ledger EULA</a>.</li>
    </ul>
    <p>
        &#169; 2015-2020 <a href="mailto:dmitry.merzlyakov@gmail.com">Dmitry Merzlyakov</a>
    </p>
</DialogBase>
